/* Hide the duplicative descriptions in the data lists */
/* TOO BROAD — NEEDS TO BE RE-thought */
/* dl.details dt.tag-description,
dl.details dd.tag-description {
    display: none;
}*/

/* TEMP - for investigating options */
article .description.usertext {
    backghround-color: yellow;
    border: 3px solid orange;
}